@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}

<div class="alert alert-warning">
    <h4 class="mb-2">Access Denied</h4>
    <div>You do not have permission to access this page.</div>
</div>

<a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">Go to Login</a>