@page "/my-room"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<div class="card" style="padding:18px;">
    <h2 class="h2">My Room</h2>
    <p class="muted">Mock data: show assigned room later from API.</p>
    <hr class="hr" />
    <div class="muted">Assigned: Room 202 • Contract Active • Next bill: 2026-02</div>
</div>
